@charset "UTF-8";

/*
    PALETA DE CORES

    preto: #131112
    cinza: #B0A99C
    branco: #F0EBD1
    branco mais claro: #F9ECD5
    branco tom pastel: #D3C5B9 

*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body,html{
    background-color: #413b3e;
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 250px;
    height: 500px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: #413b3e url(../imagens/imglogin.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

form > div.campo{
    background-color: #BF930D;
    width: 100%;
    height: 40px;
    display: block;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label{
    display: none;
}

form #isenha {
    margin: 2px;
    height: 100%;
    border-radius: 10px;
    border: none;
    text-align: center;
}

form #ilogin{
    margin: 2px;
    height: 100%;
    border-radius: 10px;
    border: none;
    text-align: center;
    

}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #B0A99C;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

}

form > input[type=submit]:hover{
    background-color: #7c776d ;
    color: white;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    background-color: white ;
    border-radius: 5px;
    border: 1px solid #969087;
    text-decoration: none;
    color: #69655c;
    margin-top: 5px;
}

form > a.botao:hover{
    background-color: #968e82 ;
    color: #e0dac3;
}

form > a.botao > span{
    font-size: 0.8em;
}